{% extends 'PrimeraPrueba/homepage.html.twig' %}


{% block body %}
    <form>
        <input type="text">
        <input type="button">
    
    </form>
     
{% endblock %}
{% block body2 %}
            <p>Otra cosa<a href="/Usuario">home</a></p>
 {% endblock %}



